<?php

$database_host     = '{{ pillar['wsu-lists-config']['db_host']  }}';
$database_name     = '{{ pillar['wsu-lists-config']['database']  }}';
$database_user     = '{{ pillar['wsu-lists-config']['db_user']  }}';
$database_password = '{{ pillar['wsu-lists-config']['db_pass']  }}';

define( 'PHPMAILERHOST', '{{ pillar['wsu-lists-config']['mailer_host'] }}' );
define( 'TEST', '{{ pillar['wsu-lists-config']['test_mode'] }}' );
