body,
html {
	background: #fff;
	font-family: Arial, sans-serif;
}

#level0-input {
	padding: 4px 10px;
	border: 1px solid #aaa;
	border-radius: 4px;
	margin-left: 20px;
	margin-bottom: 15px;
	font-size: 12px;
	width: 150px;
	font-family: Arial, sans-serif;
}

.submit-button {
	background: #008dff;
	padding: 4px 10px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

.submit-button:hover {
	background: #008dce;
}

#level0-categories {
	margin-left: 20px;
	width: 80%;
}

.level0-category {
	border: 1px solid #aaa;
	padding: 4px 10px;
	border-radius: 4px;
	width: 150px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-top: 10px;
}

.level0-category:hover {
	background: #f9ffff;
	border-color: #ccc;
	cursor: pointer;
}