<?php

/** The name of the database for WordPress */
define( 'DB_NAME',     '{{ site_data['database'] }}' );

/** MySQL database username */
define( 'DB_USER',     '{{ site_data['db_user'] }}'  );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ site_data['db_pass'] }}'  );

/** MySQL hostname */
define( 'DB_HOST',     '{{ site_data['db_host'] }}'  );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
{% if 'nonces' in site_data %}
{{ site_data['nonces'] }}
{% else %}
define('AUTH_KEY',         'makethisuniqueonproduction');
define('SECURE_AUTH_KEY',  'makethisuniqueonproduction');
define('LOGGED_IN_KEY',    'makethisuniqueonproduction');
define('NONCE_KEY',        'makethisuniqueonproduction');
define('AUTH_SALT',        'makethisuniqueonproduction');
define('SECURE_AUTH_SALT', 'makethisuniqueonproduction');
define('LOGGED_IN_SALT',   'makethisuniqueonproduction');
define('NONCE_SALT',       'makethisuniqueonproduction');
{% endif %}

define( 'WP_CONTENT_DIR', dirname( __FILE__ ) . '/wp-content' );

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 */
{% if pillar['network']['location'] == 'local' %}
define( 'WP_DEBUG',    true  );
define( 'SAVEQUERIES', true  );
{% else %}
define( 'WP_DEBUG',    false );
define( 'SAVEQUERIES', false );
{% endif %}

{% if 'cache_key' in site_data %}
define( 'WP_CACHE',          true                           );
define( 'WP_CACHE_KEY_SALT', '{{ site_data['cache_key'] }}' );
{% endif %}

/**
 * Disable the theme and plugin editors in the admin dashboard and disable
 * the ability to install or update plugins or themes.
 */
define( 'DISALLOW_FILE_EDIT', true );
define( 'DISALLOW_FILE_MODS', false );


$table_prefix  = 'wp_';

define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', ''     );
define( 'WPLANG',     ''     );

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );