<?php

/**
 * The database name, username, password, and host that WordPress
 * should use to connect to MySQL
 */
define( 'DB_NAME',     '{{ site_data['database'] }}' );
define( 'DB_USER',     '{{ site_data['db_user']  }}' );
define( 'DB_PASSWORD', '{{ site_data['db_pass']  }}' );
define( 'DB_HOST',     '{{ site_data['db_host']  }}' );

/**
 * Authentication Unique Keys and Salts. Changing these invalidates
 * existing cookies and forces reauthentication.
 *
 * Generated through https://api.wordpress.org/secret-key/1.1/salt/
 */
{% if 'nonces' in site_data %}
{{ site_data['nonces'] }}
{% else %}
define('AUTH_KEY',         'makethisuniqueonproduction');
define('SECURE_AUTH_KEY',  'makethisuniqueonproduction');
define('LOGGED_IN_KEY',    'makethisuniqueonproduction');
define('NONCE_KEY',        'makethisuniqueonproduction');
define('AUTH_SALT',        'makethisuniqueonproduction');
define('SECURE_AUTH_SALT', 'makethisuniqueonproduction');
define('LOGGED_IN_SALT',   'makethisuniqueonproduction');
define('NONCE_SALT',       'makethisuniqueonproduction');
{% endif %}

define( 'WP_CONTENT_DIR', dirname( __FILE__ ) . '/wp-content' );

{% if pillar['network']['location'] == 'local' %}
define( 'WP_DEBUG',     true  );
define( 'SAVEQUERIES',  true  );
define( 'SCRIPT_DEBUG', true  );
{% else %}
define( 'WP_DEBUG',    false );
define( 'SAVEQUERIES', false );
{% endif %}

{% if 'cache_key' in site_data %}
// Define a salt for cache keys to avoid collisions and errors.
define( 'WP_CACHE_KEY_SALT', '{{ site_data['cache_key'] }}' );
{% endif %}

{% if 'batcache' in site_data %}
// Enable page cache through batcache. wp-content/advanced-cache.php must exist.
global $batcache;
$batcache = {{ site_data['batcache'] }};
define( 'WP_CACHE',          true     );
{% endif %}

{% if 'default_theme' in site_data %}
define('WP_DEFAULT_THEME', '{{ site_data['default_theme'] }}' );
{% endif %}

// Allow for a custom Multisite installation.
if ( file_exists( dirname( __FILE__ ) . '/wp-multisite-config.php' ) ) {
	include( dirname( __FILE__ ) . '/wp-multisite-config.php' );
}

{% if 'secure' in site_data %}
define( 'FORCE_SSL_ADMIN', true );
define( 'FORCE_SSL_LOGIN', true );
{% endif %}

/**
 * Disable the theme and plugin editors in the admin dashboard.
 */
define( 'DISALLOW_FILE_EDIT', true );
define( 'DISALLOW_FILE_MODS', false );

$table_prefix  = 'wp_';

define( 'DB_CHARSET', 'utf8mb4' );
define( 'DB_COLLATE', 'utf8mb4_unicode_ci' );
define( 'WPLANG', '' );

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );