<?php
/**
 * The generated WordPress configuration for the WSUWP Platform
 */

// If this is a wp-cli request, manually set the HTTP host
if ( isset( $_SERVER['WP_CLI_PHP_USED'] ) && ! isset( $_SERVER['HTTP_HOST'] ) ) {
	$_SERVER['HTTP_HOST'] = 'wp.wsu.edu';
}

// The database name, username, password, and host for MySQL
define( 'DB_NAME',     '{{ pillar['wsuwp-config']['database'] }}' );
define( 'DB_USER',     '{{ pillar['wsuwp-config']['db_user']  }}' );
define( 'DB_PASSWORD', '{{ pillar['wsuwp-config']['db_pass']  }}' );
define( 'DB_HOST',     '{{ pillar['wsuwp-config']['db_host']  }}' );

{% if pillar['network']['location'] == 'local' %}
define( 'WP_DEBUG',         true  );
define( 'SAVEQUERIES',      true  );
define( 'WSU_LOCAL_CONFIG', true  );
{% else %}
define( 'WP_DEBUG',         false );
define( 'SAVEQUERIES',      false );
define( 'WSU_LOCAL_CONFIG', false );
{% endif %}

// Disable strict error reporting in PHP.
define( 'WSU_DISABLE_STRICT', true );

/**
 * Authentication Unique Keys and Salts. Changing these invalidates
 * existing cookies and forces reauthentication.
 *
 * Generated through https://api.wordpress.org/secret-key/1.1/salt/
 */
{{ pillar['wsuwp-config']['nonces'] }}

// URLs
define( 'WP_HOME',        'http://wp.wsu.edu'            );
define( 'WP_SITEURL',     'http://wp.wsu.edu'            );
define( 'WP_CONTENT_URL', 'http://wp.wsu.edu/wp-content' );
// Load wp-content from parent directory
define( 'WP_CONTENT_DIR', dirname( __FILE__ ) . '/wp-content' );

{% if 'cache_key' in pillar['wsuwp-config'] %}
// Define a salt for cache keys to avoid collisions and errors.
define( 'WP_CACHE_KEY_SALT', '{{ pillar['wsuwp-config']['cache_key'] }}' );
{% endif %}

{% if 'batcache' in pillar['wsuwp-config'] %}
// Enable page cache through batcache. wp-content/advanced-cache.php must exist.
global $batcache;
$batcache = {{ pillar['wsuwp-config']['batcache'] }};
define( 'WP_CACHE',          true     );
{% endif %}

{% if 'default_theme' in pillar['wsuwp-config'] %}
define( 'WP_DEFAULT_THEME', '{{ pillar['wsuwp-config']['default_theme'] }}' );
{% endif %}

// Multisite / Multinetwork related config

// @todo determine if needed
$base = '/';

define( 'MULTISITE',         true );
define( 'SUBDOMAIN_INSTALL', true );
define( 'SUNRISE',           'on' );
define( 'WP_MULTI_NETWORK',  true );

// Disable theme and plugin editors in the dashboard.
define( 'DISALLOW_FILE_EDIT', true  );
define( 'DISALLOW_FILE_MODS', false );

$table_prefix  = 'wp_';

define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', ''     );
define( 'WPLANG',     ''     );

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );