<?php
/**
 * The generated WordPress configuration for the WSUWP Platform
 */

// If this is a wp-cli request, manually set the HTTP host
if ( isset( $_SERVER['WP_CLI_PHP_USED'] ) && ! isset( $_SERVER['HTTP_HOST'] ) ) {
	$_SERVER['HTTP_HOST'] = 'wp.wsu.edu';
}

// The database name, username, password, and host for MySQL
define( 'DB_NAME',     '{{ site_data['database'] }}' );
define( 'DB_USER',     '{{ site_data['db_user']  }}' );
define( 'DB_PASSWORD', '{{ site_data['db_pass']  }}' );
define( 'DB_HOST',     '{{ site_data['db_host']  }}' );

{% if pillar['network']['location'] == 'local' %}
define( 'WP_DEBUG',         true  );
define( 'SAVEQUERIES',      true  );
define( 'WSU_LOCAL_CONFIG', true  );
{% else %}
define( 'WP_DEBUG',         false );
define( 'SAVEQUERIES',      false );
define( 'WSU_LOCAL_CONFIG', false );
{% endif %}

// Disable strict error reporting in PHP.
define( 'WSU_DISABLE_STRICT', true );

/**
 * Authentication Unique Keys and Salts. Changing these invalidates
 * existing cookies and forces reauthentication.
 *
 * Generated through https://api.wordpress.org/secret-key/1.1/salt/
 */
{% if 'nonces' in site_data %}
{{ site_data['nonces'] }}
{% else %}
define( 'AUTH_KEY',         'makethisuniqueonproduction' );
define( 'SECURE_AUTH_KEY',  'makethisuniqueonproduction' );
define( 'LOGGED_IN_KEY',    'makethisuniqueonproduction' );
define( 'NONCE_KEY',        'makethisuniqueonproduction' );
define( 'AUTH_SALT',        'makethisuniqueonproduction' );
define( 'SECURE_AUTH_SALT', 'makethisuniqueonproduction' );
define( 'LOGGED_IN_SALT',   'makethisuniqueonproduction' );
define( 'NONCE_SALT',       'makethisuniqueonproduction' );
{% endif %}

// URLs
define( 'WP_HOME',        'http://wp.wsu.edu'            );
define( 'WP_SITEURL',     'http://wp.wsu.edu'            );
define( 'WP_CONTENT_URL', 'http://wp.wsu.edu/wp-content' );
// Load wp-content from parent directory
define( 'WP_CONTENT_DIR', dirname( __FILE__ ) . '/wp-content' );

{% if 'cache_key' in site_data %}
// Define a salt for cache keys to avoid collisions and errors.
define( 'WP_CACHE_KEY_SALT', '{{ site_data['cache_key'] }}' );
{% endif %}

{% if 'batcache' in site_data %}
// Enable page cache through batcache. wp-content/advanced-cache.php must exist.
global $batcache;
$batcache = {{ site_data['batcache'] }};
define( 'WP_CACHE',          true     );
{% endif %}

{% if 'default_theme' in site_data %}
define( 'WP_DEFAULT_THEME', '{{ site_data['default_theme'] }}' );
{% endif %}

// Multisite / Multinetwork related config

// @todo determine if needed
$base = '/';

define( 'MULTISITE',         true );
define( 'SUBDOMAIN_INSTALL', true );
define( 'SUNRISE',           'on' );
define( 'WP_MULTI_NETWORK',  true );

// Phase out.
define( 'DOMAIN_CURRENT_SITE',  'wp.wsu.edu' );
define( 'PATH_CURRENT_SITE',    '/'          );
define( 'SITE_ID_CURRENT_SITE', 1            );
define( 'BLOG_ID_CURRENT_SITE', 1            );

// Disable theme and plugin editors in the dashboard.
define( 'DISALLOW_FILE_EDIT', true  );
define( 'DISALLOW_FILE_MODS', false );

$table_prefix  = 'wp_';

define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', ''     );
define( 'WPLANG',     ''     );

/** Sets up WordPress vars and included files. */
require_once( ABSPATH . 'wp-settings.php' );